@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.assignmentbox {
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 3px 3px #666666
}

.homework {
  border: 2px solid #ebde3d;
  background-color: #eeeab0;
}

.lab {
  border: 2px solid #7bb4e6;
  background-color: #cbe4fd;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  color:#666666;
  text-decoration-line: none;
}

footer a {
  text-decoration-line: none;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

ol {
  list-style-type: decimal-leading-zero;
}